
html, body {
    height: 100%;
    margin-left: auto;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-flex {
    flex: 1;
    max-width: 600px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: relative;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.language-icons {
    display: center;
    flex-wrap: wrap;
    justify-content:center;
}
.language-icons img {
    width: 70px; /* Tamaño deseado para las imágenes */
    height: auto;
    margin: 5px; /* Espacio entre las imágenes */
}
.herramientas-icons {
    display: center;
    flex-wrap: wrap;
    justify-content:center;
}
.herramientas-icons img {
    width: 80px; /* Tamaño deseado para las imágenes */
    height: auto;
    margin: 5px; /* Espacio entre las imágenes */
}
.img-conoceme {
    max-width: 300px;
     float: left;
    margin-right: 15px; /* Ajusta el margen derecho según sea necesario */
}

.image-text-container {
    overflow: hidden; /* Evita que el texto flote debajo de la imagen */
}

.img-banda {
    max-width: 100px;
    float: left;
    margin-right: 15px; /* Ajusta el margen derecho según sea necesario */
}

.card {
    margin-bottom: 20px; /* Espacio entre las tarjetas */
}
.img-delfin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Ajusta el ancho de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
}
.img-snake{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}